.hero {
  position: relative;
  background-color: var(--color-secondary);
  z-index: 1;

  img {
    position: absolute;
    height: 100%;
    width: 100%;
    object-fit: cover;
    z-index: 0;
  }

  h1 {
    font-size: var(--font-size-hero);
    font-weight: var(--font-weight-black);
    color: $white;
    text-transform: uppercase;

    @include media-queries-up(lg) {
      max-width: 55%;
    }

    @include media-queries-up(xxl) {
      max-width: 40%;
    }
  }

  p {
    padding: 0 0 3rem;
    font-size: var(--font-size-18);
    color: $white;
    opacity: .75;

    @include media-queries-up(lg) {
      max-width: 50%;
    }
  }

  .container {
    @include flex ($direction: column, $justify: center, $align: center);

    position: relative;
    width: 100%;
    height: 95vh;
    text-align: center;
    z-index: 1;

    @include media-queries-up(md) {
      height: 45rem;
    }

    @include media-queries-up(lg) {
      @include flex ($direction: column, $justify: center, $align: flex-start);

      text-align: left;
    }
  }
}
