.about {
  padding-top: 0;
  padding-bottom: 3rem;

  .video-container {
    @include flex ($direction: column, $justify: center, $align: flex-start);

    position: relative;
    width: 100%;
    height: 300px;
    overflow: hidden;

    @include media-queries-up(md) {
      height: 500px;
    }

    @include media-queries-up(lg) {
      height: 600px;
    }

    @include media-queries-up(xxl) {
      height: 600px;
    }

    canvas {
      position: absolute;
      width: 100%;
      object-fit: contain;
    }
  }


  img {
    @include media-queries-down(lg) {
      max-width: 100%;
    }
  }

  &-content {
    @include flex ($direction: column, $justify: center, $align: flex-start);

    margin-top: 8rem;

    @include media-queries-down(sm) {
      @include flex ($direction: column, $justify: center, $align: center);

      margin-top: 5rem;
      text-align: center;
    }

    h1 {
      margin-bottom: 0;
      color: var(--color-secondary);
    }

    h5 {
      line-height: 1.8;
      color: var(--color-secondary);

      @include media-queries-down(sm) {
        margin-top: 0;
      }
    }
  }

  &-item {
    @include flex ($direction: column, $justify: flex-start, $align: flex-start);

    padding: 2rem 2rem 0;
    height: 100%;
    color: var(--color-secondary);
    background-color: var(--color-gray-light);
    border-radius: 2rem;

    &-header {
      @include flex ($direction: row, $justify: flex-start, $align: center);

      gap: 1rem;

      img {
        width: 5rem;
      }

      .title {
        margin-bottom: 0;
      }

      .job {
        margin-top: .5rem;
        color: var(--color-primary);
      }
    }

    p {
      margin: 1rem 0;
    }
  }
}
